---
layout: default
title: 팀원을 찾고 있습니다.
description: i2sec에서 안전하고 확실한 보안서비스를 만들기 위한 팀원을 찾고 있습니다.
representing_image: "/images/iwantyou-02-01.png"
---
<style type="text/css">
#job-table {
    width: 100%;
}
#job-table td {
    text-align: center;
}
.hiring-banner {
  height: 320px;
  background-position-y: 80%;
}
.hiring-subtitle,
.btn-job
{
  display: none;
}
@media only screen and (max-width: 360px) {
  .hiring-banner {
    height: 220px;
  }
}
</style>
<div class="post">
<h2>소개</h2>

<ul>
<li><a href="http://www.i2sec.co.kr">(주)아이투섹</a>은 보안 서비스를 만들고 있는 해커집단입니다.</li>
<li><a href="http://seoul.i2sec.co.kr/">i2sec 교육센터</a>는 2010년부터 부산에서 시작해 현재는 <a href="http://seoul.i2sec.co.kr">서울</a>, <a href="http://daejon.i2sec.co.kr">대전</a>, <a href="http://daegu.i2sec.co.kr">대구</a>, <a href="http://pusan.i2sec.co.kr">부산</a>까지 전국에 확장되어 있습니다.</li>
<li>위 나온 전국 교육센터에서 현직 정보보안컨설턴트들의 직강을 들으실 수 있습니다.</li>
</ul>

{{ content }}
